<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Halaman Login</title>
  <link rel="stylesheet" id="styles" type="text/css" href="/css/light.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <%- include ('../partial/header', {loggedName}, {loggedNameAdmin}) %>
  </header>
  <div class="kotak_login">
    <div class="logoLogin"></div>

    <p class="par1">Silahkan masuk untuk melanjutkan aktivitas</p>

    <form action="/login" method="post">
      <input type="text" name="username" class="form_login" style="font-weight:500" autocomplete="on" required
        placeholder="Email atau Nomor HP">
      <div class="input-icon">
        <div class="input-group" id="show_hide_password">
          <input type="password" name="password" class="form_login" style="font-weight: 500;" autocomplete="off"
            required placeholder="Kata Sandi">
          <div class="input-group-append">
            <a href="" class="btn" style="bottom: 63px; left: 340px;"><img class="bi bi-eye-slash" aria-hidden="true"
                id="togglePassword" style="color: black;" src="/styles/img/imgLightMode/eye_open_ic.svg"></img></a>
          </div>
        </div>
      </div>

      <button type=" submit" class="tombolLogin" value="Log In">Log In
      </button>

      <div class="login-medsos">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-apple"></a>
      </div>

      <br />
      <br />
      <div>
        <p class="pendaftaranAkun"><a href="/reset-password" style="font-size: 14px; color: #5b75eb;">Lupa kata
            sandi?</a></p>
        <br />
        <p class="pendaftaranAkun">Belum punya akun? <strong><a href="/register" class=""
              style="font-size: 16px; color: #5b75eb;">Daftar
              Sekarang!</a></strong>
        </p>
      </div>
    </form>
  </div>

  <footer>
    <%- include ('../partial/footer') %>
  </footer>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="/js/darkmode.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function () {
    $("#show_hide_password a").on('click', function (event) {
      event.preventDefault();
      if ($('#show_hide_password input').attr("type") == "text") {
        $('#show_hide_password input').attr('type', 'password');
        $('#show_hide_password img').addClass("bi bi-eye-slash");
        $('#show_hide_password img').removeClass("bi bi-eye");
      } else if ($('#show_hide_password input').attr("type") == "password") {
        $('#show_hide_password input').attr('type', 'text');
        $('#show_hide_password img').removeClass("bi bi-eye-slash");
        $('#show_hide_password img').addClass("bi bi-eye");
      }
    });
  });
</script>


<script>

  $('.logo').click(function () {
    window.location.href = '/' /* requesting redirect page on logo click */
  })

  $('.logo-footer').click(function () {
    window.location.href = '/' /* requesting redirect page on logo click */
  })

  $('.login-button').click(function () {
    window.location.href = '/login'
    return false
  })

  $('.register-button').click(function () {
    window.location.href = '/register'
    return false
  })
</script>

</html>