/* Navbar Start */
.navbar-tray {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
    height: 92px;
    background-color: #2D539C;
    box-shadow: 0 8px 10px -10px black;
  }
  
  .logo {
    margin: 10px 0 0 0;
    background-image: url(/icon/logo_light_mode.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 50px;
  }
  
  /* <------------------- Start Highlight Category ------------> */
  .highlight-ctgr {
    display: flex;
    flex-flow: column;
    width: 500px;
    /* margin-left: 1%; */
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
  }
  
  ul li {
    font-family: Montserrat;
    font-weight: 600;
  }
  
  .highlight-ctgr ul {
    margin-top: 13px;
  }
  
  .highlight-ctgr ul>li {
    display: inline-block;
  }
  
  .highlight-ctgr a {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
  }
  
  .highlight-ctgr-items {
    font-size: 14px;
    color: white;
    line-height: 16px;
    width: 100px;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    margin: 5% 0 0 4%;
    cursor: pointer;
    -webkit-transition: padding .05s linear;
    -moz-transition: padding .05s linear;
    -ms-transition: padding .05s linear;
    -o-transition: padding .05s linear;
    transition: padding .05s linear;
    transition: 0.3s;
  }

  #select-sizing {
    width: 100px;
    margin-left: 10px;
    border-radius: 0;
    background: transparent;
    border-style: none;
    border-width: 0;
    position: relative
  }
  
  #select-sizing-user {
    width: 120px;
    margin: 0 0 15px 10px;
    border-radius: 0;
    background: transparent;
    border-style: none;
    border-width: 0;
    position: relative
  }
  
  #user {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 30px 0 31px 10px;
    background-image: url(/icon/profile_ic_light.svg);
    background-repeat: no-repeat;
  }
  
  /* .dropOut .triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    top: -10px;
    left: 50%;
    margin-left: -8px;
  }
  
  .arrow-down {
    width: 8px;
    height: 8px;
    margin: -10px 0 0 95px;
    content: url(/icon/arrow_down_right_ic.svg);
  }
  
  .arrow-down-user {
    width: 8px;
    height: 8px;
    margin: -10px 0 0 120px;
    content: url(/icon/arrow_down_right_ic.svg);
  } */
  
  .dropdownContain {
    width: 160px;
    position: absolute;
    z-index: 2;
    left: 72px;
    margin-left: -55px;
    /* half of width */
    top: -400px;
  }
  
  .dropOut {
    font-size: 13px;
    width: 160px;
    padding: 0 50px 0 -20px;
    background: black;
    float: left;
    position: relative;
    margin-top: 0px;
    opacity: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .dropOut ul {
    float: left;
    padding: 10px 0;
  }
  
  .dropOut li a {
    color: white;
  }
  
  .dropOut li:hover {
    text-decoration: underline 2px;
  }
  
  .dropOut ul li {
    text-align: left;
    float: left;
    width: 130px;
    padding: 12px 0 10px 15px;
    margin: 0px 10px;
    background-color: black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background .1s ease-out;
    -moz-transition: background .1s ease-out;
    -ms-transition: background .1s ease-out;
    -o-transition: background .1s ease-out;
    transition: background .1s ease-out;
    transition: all .1s ease-in-out;
  }
  
  .highlight-ctgr ul li:hover .dropdownContain {
    top: 18px;
  }
  
  .highlight-ctgr ul li:hover .underline {
    border-bottom-color: #777;
  }
  
  .highlight-ctgr ul li:hover .dropOut {
    opacity: 1;
    margin-top: 8px;
  }
  
  /* <------------------- End Highlight Category --------------------> */
  
  .search-bar {
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    margin-right: 1%;
  }
  
  form.search-bar input[type="text"],
  select {
    width: 270px;
    height: 35px;
    background: #f1f1f1;
    border: transparent;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 30px;
    font-family: Montserrat;
    font-weight: 600;
  }
  
  form.search-bar button {
    border: transparent;
    width: 40px;
    height: 32px;
    margin-left: -50px;
    margin-top: 31px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url("/icon/search_ic.svg");
    background-size: 12px 12px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .sublogo {
    margin: 30px 0 0 8%;
    width: 10px;
    height: 16px;
  }
  
  .access {
    display: flex;
    flex: column wrap;
    justify-content: space-between;
  }
  
  .access-user {
    display: flex;
    margin: 8px 0 0 30px ;
    font-weight: 600;
  }
  
  .access-user-dropdownContain {
    width: 160px;
    position: absolute;
    z-index: 2;
    left: 45px;
    top: 25px;
  }
  
  .access-user ul {
    margin-top: 6px;
  }
  
  .access-user ul>li {
    display: inline-block;
  }
  
  .access-user a {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
  }
  
  .access-user ul li:hover {
    color: #5B75EB;
  }
  
  .access-user ul li:hover .dropdownContain {
    top: 25px;
  }
  
  .access-user ul li:hover .underline {
    border-bottom-color: #777;
  }
  
  .access-user ul li:hover .dropOut {
    opacity: 1;
    margin-top: 8px;
  }
  
  form.access button {
    width: 68px;
    height: 29px;
    left: 1126px;
    top: 26px;
    margin: 25px 10px 0 0;
  
    box-sizing: border-box;
    border-radius: 4px;
  
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
  }
  
  .login-button {
    background: transparent;
    border: 2px solid white;
    transition: ease-in-out;
    color: white;
  }
  
  .register-button {
    background: black;
    border: none;
    color: #ffffff;
    transition: 0s;
  }
  
  .highlight-ctgr-items:hover {
    color: #5b75eb;
    cursor: pointer;
  }
  
  .login-button:hover {
    background: transparent;
    border: solid #00C77B;
    color: white;
    cursor: pointer;
  }
  
  .register-button:hover {
    background: #00C77B;
    border: solid #00C77B;
    color: white;
    cursor: pointer;
  }
  
  /* Navbar End */
  
  /* Footer Start */
  .footer-tray {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    background: white;
  }
  
  .logo-footer {
    width: 300px;
    height: 96px;
    font-weight: 600;
    margin: 60px 100px 100px 50px;
    background-image: url(/icon/logo_light_mode.svg);
    background-repeat: no-repeat;
    background-size: 200px 64px;
    align-items: center;
    align-self: center;
  }
  
  #rights-footer {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    margin: 70px 0 0 0;
    width: 1900px;
  }
  
  .category-tray {
    display: flex;
    flex-flow: row wrap;
    width: 800px;
    height: 80px;
    margin: 0 2% 0 2%;
  }
  
  .internal-tc {
    display: flex;
    flex-flow: row wrap;
    margin: 0 5% 0 15%;
    width: 118px;
    height: 80px;
  }
  
  .head {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nama-user {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    margin: 40px auto auto auto;
  }
  
  .foot {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }
  
  .head .foot:hover {
    color: #5b75eb;
    cursor: pointer;
  }
  
  /* Footer End */